@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  font-family: "Righteous", cursive;
}
body {
  background-color: #002626;
  text-align: center;
}
h2 {
  font-weight: 100;
}

/* ABOUT ME SECTION */
.aboutMe__section,
.why__hired__section {
  height: 100vh;
  position: relative;
}
.about__me__div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.white__text {
  color: white;
}
.link__text {
  color: #00ecac;
  text-decoration: underline;
  cursor: pointer;
}
.my__image {
  background-color: white;
  border-radius: 50%;
}
.working__at__text {
  font-size: 30px;
}
.future__role {
  font-size: 50px;
}
.company__name {
  font-size: 30px;
  color: #00ecac;
}
.bottom__link__div {
  position: absolute;
  bottom: 0.5%;
  text-align: center;
  width: 100%;
}

/* why hired section */
.why__hired__text__div {
  height: 20vh;

  position: relative;
}
.why__hired__text {
  color: white;
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .why__hired__text {
    font-size: 25px;
  }
}
.hiring__quality {
  margin-top: 40px;
  align-items: center;
}
.hiring__quality {
}

.quality {
  background-color: #00ecac;
  font-size: 25px;
  text-align: center;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .quality {
    font-size: 25px;

    width: 150px;
    height: 150px;
  }
  .hiring__quality {
    margin-top: 0px;
  }
}
.quality__div {
  display: flex;
}
.additional__work {
  height: 20;
}
/* the divider */
.the__divider {
  height: 10px;
  background-color: #00ecac;
  padding: 0;
  border: none;
}
